@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}

.font{
    font-family: 'Alfa Slab One', cursive;   
}
.font1{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;    
}
.font3{
    font-family: "Bebas Neue", sans-serif;
}
.bg{
    color: #342121;

}
.bgbutton{
    background-color: #342121;
}
.bgbutton-yellow{
    background-color:  #ffad0a
}

.animat{
    transition: .4s ease;
}
.shadows{
    text-shadow: 3px 4px rgb(239, 233, 186);
}
.section_img_text:hover .image{
    transform: scale(1.4);
    transition: 0.5s ease;
}
.bgProduct{
    display: none;
    background-color: rgba(255, 230, 0,.4);

}
.imgProduct:hover .bgProduct{
    display: block;

}
